@import '~@/plugins/element/index';
@import './spacers';
@import './helpers';

#admin-app,
body,
html {
  height: 100%;
  width: 100%;
  background: #f8f8f9;
  margin: 0;
  padding: 0;
}

.el-button {
  &.link {
    padding: 0;

    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }
  }
}

.el-button--small {
  &.link {
    a {
      padding: 9px 15px;
    }
  }
}

.el-button--mini {
  &.link {
    a {
      padding: 7px 0 7px 0;
    }
  }
}

code {
  color: #c7254e;
  background: #f9f2f4;
  padding: 2px 4px;
  border-radius: 4px;
}

.card-footer {
  margin-top: 20px;
  overflow-x: auto;
}

.el-select {
  width: 100%;
}

.is-error {
  .el-transfer-panel {
    border: 1px solid $--color-danger;
  }
}

.el-form-item.is-error .el-transfer-panel .el-input__inner {
  border-color: $--border-color-base;

  &:focus {
    border-color: $--color-primary;
  }
}

.el-transfer {
  display: flex;
  justify-content: center;
  align-items: center;

  .el-transfer-panel {
    width: 100%;
  }

  .el-transfer-panel__item {
    display: block;
    height: 35px;
  }

  .el-transfer-panel__item.el-checkbox .el-checkbox__label {
    line-height: 35px;
  }

  .el-transfer-panel__item .el-checkbox__input {
    top: 11px;
  }
}

@media only screen and (max-width: 768px) {
  .el-transfer {
    flex-direction: column;
  }
}

.el-dropdown-menu__item {
  &.link-item {
    padding: 0 !important;

    a {
      display: inline-block;
      border: none;
      background: transparent;
      text-decoration: none;
      color: inherit;
      //text-align: center;
      padding: 0 20px;
    }
  }

  &.button-item {
    padding: 0 !important;

    .el-button {
      width: 100%;
      border: none;
      background: transparent;
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
      transition: none;
    }

    .el-button--primary {
      color: $--color-primary;
    }

    .el-button--danger {
      color: $--color-danger;
    }

    .el-button--success {
      color: $--color-success;
    }

    .el-button--warning {
      color: $--color-warning;
    }

    .el-button--info {
      color: $--color-info;
    }
  }
}

.el-table [class*=el-table__row--level] .el-table__expand-icon {
  float: right;
  margin-top: 2px;
}

.el-table__placeholder {
  width: 0 !important;
}

.el-scrollbar__bar {
  &.is-vertical {
    width: 10px !important;
  }

  &.is-horizontal {
    height: 10px !important;
  }
}
