@import '~@/plugins/element/index';

#admin-app,
body,
html {
  height: 100%;
  width: 100%;
  background: #f8f8f9;
  margin: 0;
  padding: 0;
}

.el-button {
  &.link {
    padding: 0;

    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }
  }
}

.el-button--small {
  &.link {
    a {
      padding: 9px 15px;
    }
  }
}

code {
  color: #c7254e;
  background: #f9f2f4;
  padding: 2px 4px;
  border-radius: 4px;
}

.card-footer {
  margin-top: 20px;
}

.el-select {
  width: 100%;
}

.is-error {
  .el-transfer-panel {
    border: 1px solid $--color-danger;
  }
}

.el-form-item.is-error .el-transfer-panel .el-input__inner {
  border-color: $--border-color-base;

  &:focus {
    border-color: $--color-primary;
  }
}
