.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.inline-block {
  display: inline-block !important;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fr {
  float: right !important;
}
