@import '~@/plugins/element/index';
@import './spacers';
@import './helpers';

#admin-app,
body,
html {
  height: 100%;
  width: 100%;
  background: #f8f8f9;
  margin: 0;
  padding: 0;
}

code {
  color: #c7254e;
  background: #f9f2f4;
  padding: 2px 4px;
  border-radius: 4px;
}

.card-footer {
  margin-top: 20px;
  overflow-x: auto;
}

.el-select {
  width: 100%;
}

.is-error {
  .el-transfer-panel {
    border: 1px solid $--color-danger;
  }
}

.el-form-item.is-error .el-transfer-panel .el-input__inner {
  border-color: $--border-color-base;

  &:focus {
    border-color: $--color-primary;
  }
}

.el-transfer {
  display: flex;
  justify-content: center;
  align-items: center;

  .el-transfer-panel {
    width: 100%;
  }

  .el-transfer-panel__item {
    display: block;
    height: 35px;
  }

  .el-transfer-panel__item.el-checkbox .el-checkbox__label {
    line-height: 35px;
  }

  .el-transfer-panel__item .el-checkbox__input {
    top: 11px;
  }
}

//穿梭框，在小屏幕下的兼容
@media only screen and (max-width: 768px) {
  .el-transfer {
    flex-direction: column;
  }

  .el-transfer__buttons {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .el-transfer__button {
    display: inline-block !important;
    margin: 0 !important;

    & + .el-transfer__button {
      margin-left: 5px !important;
    }

    .el-icon-arrow-right:before {
      content: '\E6DF';
    }

    .el-icon-arrow-left:before {
      content: '\E6E1';
    }
  }
}

.el-dropdown-menu__item {
  &.button-item {
    padding: 0 !important;

    .el-button {
      width: 100%;
      border: none;
      border-radius: 0;
      text-align: left;
      transition: none;
      box-shadow: none;
    }
  }
}

.el-table [class*=el-table__row--level] .el-table__expand-icon {
  float: right;
  margin-top: 2px;
}

.el-table__placeholder {
  width: 0 !important;
}

.el-scrollbar__bar {
  &.is-vertical {
    width: 10px !important;
  }

  &.is-horizontal {
    height: 10px !important;
  }
}

.login-dialog {
  .el-dialog__body {
    padding-bottom: 0;
  }
}
